@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');


body{
    font-family: 'Stack Sans Text';
    background-image: linear-gradient(to right, #4B9B78, #49705F);
    height: auto; /* Mudei de 200vh para auto */
    margin: 0;
}

/* Adicione esta seção para o conteúdo principal */
.main-content {
    position: relative;
    height: 100vh; /* Ocupa a tela toda inicialmente */
    display: flex;
    align-items: center;
    justify-content: center;
} 
nav.bg {
     
    width:100%;
    float:left; 
    text-align:center;  
    background-color: #2d2c2c;
    padding:1.5em 0em; 
    position: fixed;
    z-index: 10;
}

nav a {

 position: relative;
 display: inline-block;
 margin:5px 30px;
 outline: none;
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 font-size: 1.3em;
 transition:0.6s; 

}

nav a:hover,
nav a:focus {

 transition:0.4s;
 outline: none;
 color:#50e6ec; 

}

/* Efeito circulo */
.hover-circulo a::before,
   .hover-circulo a::after {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 75px;
 height: 75px;
 border: 2px solid rgba(95, 217, 222, 0.18);
 border-radius: 50%;
 content: '';
 opacity: 0;
 -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
 -moz-transition: -moz-transform 0.3s, opacity 0.3s;
 transition: transform 0.3s, opacity 0.3s;
 -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
 -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
 transform: translateX(-50%) translateY(-50%) scale(0.2);
   }

.hover-circulo a::after {
 width: 50px;
 height: 50px;
 border-width: 6px;
 -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
 -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
 transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.hover-circulo a:hover::before,
.hover-circulo a:hover::after,
.hover-circulo a:focus::before,
.hover-circulo a:focus::after {
 opacity: 1;
 -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
 -moz-transform: translateX(-50%) translateY(-50%) scale(1);
 transform: translateX(-50%) translateY(-50%) scale(1);
}


.parallelogram-container {
    width: 400px;
    height: 250px;
    position: absolute; /* Mudei de absolute para relative */
    top: 30%; /* Remove posicionamento absoluto */
    left: 75%; /* Remove posicionamento absoluto */
    transform: none; /* Remove transform */
    background-color: #0f422c9f;
    border-radius: 30px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    z-index: 5;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.parallelogram-bg {
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: #2f5702b4;
    position: relative;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    animation: girar 10s linear infinite;
}

.lct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;

}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .right {
    float: right;
  }
  
  html {
    font-family: 'Open Sans';
    font-size: 100%;
  }
  
  @media screen and (min-width: 31.25em) {
    html {
      font-size: 105%;
    }
  }
  
  @media screen and (min-width: 50em) {
    html {
      font-size: 115%;
    }
  }
  
  @media screen and (min-width: 75em) {
    html {
      font-size: 125%;
    }
  }
  
  /* helpers */
  .center-text {
    text-align: center;
  }
  
  .center-align {
    margin: 0 auto;
  }
  
  /* button styles */
  .btn--primary, .btn--comments {
    display: inline;
    text-decoration: none;
    padding: .45em 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .75rem;
    border-radius: 25px;
    color: white;
    font-family: 'Open Sans';
    transition: all 250ms ease;
  }
  
  .btn--primary {
    border: 1px solid white;
  }
  
  .btn--primary:hover {
    background-color: white;
    color: black;
  }
  
  .btn--comments {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: .6em;
  }
  
  .btn--comments:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  /* poster styles */
  .poster {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
 
  }
  
  .poster__heading {
    text-align: center;
    margin: 0 auto;
    width: 95%;
    color: white;
    padding-top: 5.5rem;
    font-weight: 600;
    font-size: 2em;
    transition: all 400ms ease;
  }
  
  @media screen and (min-width: 31.25em) {
    .poster__heading {
      font-size: 2.25em;
    }
  }
  
  @media screen and (min-width: 50em) {
    .poster__heading {
      font-size: 2.75em;
    }
  }
  
  .poster__subheading {
    text-align: center;
    display: block;
    font-size: .3em;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FF9639;
    padding-top: .8em;
    margin-bottom: .6em;
  }
  

.timeline-wrapper {
    position: relative;
    padding-bottom: 25em;
  
    z-index: 1;
    margin-top: 0; /* Garante que comece logo após o main-content */
}

.svg-timeline {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1; /* MUDE PARA 1 (igual ao timeline-wrapper) */
}

  @media screen and (min-width: 50em) {
    .svg-timeline {
      display: block;
    }
  }
  
  .timeline {
    transition: all 250ms ease;
    width: 90%;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 31.25em) {
    .timeline {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 50em) {
    .timeline {
      width: 95%;
    }
  }
  
  .timeline__item {
    margin-bottom: 4em;
    clear: both;
  }
  
  @media screen and (min-width: 50em) {
    .timeline__item {
      width: 40%;
    }
  }
  
  .timeline__day {
    font-weight: 600;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    padding-bottom: .75em;
  }
  
  .timeline__day span {
    font-weight: 300;
    color: orange;
    text-transform: none;
  }
  
  .timeline__day-sum {
    color: white;
    font-weight: 300;
    font-size: .8em;
    display: block;
    margin-bottom: 1.5em;
    line-height: 1.5;
  }
  
  /* clearfix */
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  .clearfix {
    display: inline-block;
  }
  
  /* start commented backslash hack \*/
  * html .clearfix {
    height: 1%;
  }
  
  .clearfix {
    display: block;
  }
  /* close commented backslash hack */